/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layers
#define DEFAULT_L 	0

// COMBOS
// ===========================================================================================================
/*
	.----------------------------------------------------------------------.
	|  0  |  1  |  2  |  3  |  4  |          |  5  |  6  |  7  |  8  |  9  |
	|  10 |  11 |  12 |  13 |  14 |          |  15 |  16 |  17 |  18 |  19 |
	|  20 |  21 |  22 |  23 |  24 |          |  25 |  26 |  27 |  28 |  29 |
	'-----------------\  30 |  31 |          |  32 |  33 /-----------------'
	                   '--------------------------------'
			
	ESC 	= 0 | 1			LC(X)	= 7 | 8
	TAB 	= 11 | 12		LC(C)	= 17 | 18
					LC(V)	= 27 | 28
	ENTER 	= 12 | 13		SK(SFT) = 16 | 17
	LPAR 	= 13 | 14		RPAR 	= 15 | 16
	TO_2	= 20 | 21
	TO_4	= 21 | 22
	TO_0	= 22 | 23 
	TO_3	= 20 | 21 | 22		TO_3	= 27 | 28 | 29
*/

/ {

    // KEYMAP
    // ===========================================================================================================
    /* 0 = Default
	.----------------------------------------------------------------------.
	|Q DEL|  W  |  E  |  R  |  T  |          |  Y  |  U  |  I  |  O  |  P  |
	|  A  |  S  |  D  |  F  |  G  |          |  H  |  J  |  K  |  L  |BKSPC|
	|  Z  |  X  |  C  |  V  |  B  |          |  N  |  M  |  ,  |  .  |MO_1 |
	'-----------------\ CTRL| SPC |          | SFT | RALT/-----------------'
	                   '--------------------------------'
*/

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&mt DEL Q  &kp W  &kp E      &kp R      &kp T         &kp Y     &kp U      &kp I    &kp O          &kp P
    &kp A  &kp S  &kp D      &kp F      &kp G         &kp H     &kp J      &kp K    &kp L  &kp BACKSPACE
    &kp Z  &kp X  &kp C      &kp V      &kp B         &kp N     &kp M  &kp COMMA  &kp DOT          &mo 1
                         &kp LCTRL  &kp SPACE    &kp RSHIFT  &kp RALT
            >;
        };
    };
};

// ===========================================================================================================
